//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '모든 프로젝트'

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    //- Load Date Range Picker via CDN
    link(href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav.pug
    +sidenav({
        sidenavStyle: 'sidenav-light',
        user: user.NAME
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: '내가 기여한 모든 프로젝트를 볼 수 있습니다',
        pageIcon: 'activity',
        breadcrumbs: false
    })

    .container.mt-n10
        // Wizard card example with navigation
        .card
            form(method="POST")
                .card-header.border-bottom
                    // Wizard navigation
                    .nav.nav-pills.nav-justified.flex-column.flex-xl-row.nav-wizard#cardTab(role='tablist')
                        // Wizard navigation item 1
                        a.nav-item.nav-link.active#wizard1-tab(href='#wizard1', data-toggle='tab', role='tab', aria-controls='wizard1', aria-selected='true')
                            .wizard-step-icon
                                | 1
                            .wizard-step-text
                                .wizard-step-text-name 정상
                                .wizard-step-text-details 
                        // Wizard navigation item 2
                        a.nav-item.nav-link#wizard2-tab(href='#wizard2', data-toggle='tab', role='tab', aria-controls='wizard2', aria-selected='true')
                            .wizard-step-icon
                                | 2
                            .wizard-step-text
                                .wizard-step-text-name 지연
                                .wizard-step-text-details 현재 지연 상태로 진행 중인 프로젝트 목록입니다.
                        // Wizard navigation item 3
                        a.nav-item.nav-link#wizard3-tab(href='#wizard3', data-toggle='tab', role='tab', aria-controls='wizard3', aria-selected='true')
                            .wizard-step-icon
                                | 3
                            .wizard-step-text
                                .wizard-step-text-name 취소
                                .wizard-step-text-details 진행중 취소되거나 중단된 프로젝트 목록입니다.
                        // Wizard navigation item 4
                        a.nav-item.nav-link#wizard4-tab(href='#wizard4', data-toggle='tab', role='tab', aria-controls='wizard4', aria-selected='true')
                            .wizard-step-icon
                                | 4
                            .wizard-step-text
                                .wizard-step-text-name 완료
                                .wizard-step-text-details 종료된 프로젝트 목록입니다.
                        a.nav-item.nav-link#wizard5-tab(href='#wizard5', data-toggle='tab', role='tab', aria-controls='wizard5', aria-selected='true')
                            .wizard-step-icon
                                | 5
                            .wizard-step-text
                                .wizard-step-text-name 모든 프로젝트
                                .wizard-step-text-details 현재까지 자신이 참여한 모든 프로젝트를 검색합니다.
                .card-body
                    .tab-content#cardTabContent
                        // Wizard tab pane item 1
                        .tab-pane.py-5.py-xl-10.fade.show.active#wizard1(role='tabpanel', aria-labelledby='wizard1-tab')
                            .container.mt-n10
                                .proj
                                    .row
                                        if projs.rows.length != 0                
                                            each proj in projs.rows
                                                if proj.STATUS == '0'
                                                    .col-xl-6.mb-4
                                                        .card.card-header-actions.h-100
                                                            .card-header
                                                                | #{proj.NAME}
                                                            .card-body
                                                                if proj.NUM_TASKS == '0'
                                                                    | 현재 진행도 : 0%
                                                                else
                                                                    | 현재 진행도 : #{Math.round((proj.NUM_DONE_TASKS*100)/proj.NUM_TASKS)}%
                                                                br
                                                                | 현재 상태 : 정상
                                                                br
                                                                | 기간 :#{proj.START_DATE.getFullYear()}/#{proj.START_DATE.getMonth()+1}/#{proj.START_DATE.getDate()}  -  #{proj.END_DATE.getFullYear()}/#{proj.END_DATE.getMonth()+1}/#{proj.END_DATE.getDate()} 
                                                                br
                                                                | 최근 업데이트 : #{proj.updatedAt.getFullYear()}/#{proj.updatedAt.getMonth()+1}/#{proj.updatedAt.getDate()} #{proj.updatedAt.getHours()}:#{proj.updatedAt.getMinutes()}:#{proj.updatedAt.getSeconds()}
                                                            a.card-footer(href='/projects/'+proj.ID)
                                                                .d-flex.align-items-center.justify-content-between.small.text-body
                                                                    | 프로젝트로 이동
                                                                    i(data-feather='arrow-right')
                                        else                
                                            | 현재 진행 중인 프로젝트가 없습니다
                        // Wizard tab pane item 2
                        .tab-pane.py-5.py-xl-10.fade#wizard2(role='tabpanel', aria-labelledby='wizard2-tab')
                            .container.mt-n10
                                .proj
                                    .row
                                        if projs.rows.length != 0                
                                            each proj in projs.rows
                                                if proj.STATUS == '-1'
                                                    .col-xl-6.mb-4
                                                        .card.card-header-actions.h-100
                                                            .card-header
                                                                | #{proj.NAME}
                                                            .card-body
                                                                if proj.NUM_TASKS == '0'
                                                                    | 현재 진행도 : 0%
                                                                else
                                                                    | 현재 진행도 : #{Math.round((proj.NUM_DONE_TASKS*100)/proj.NUM_TASKS)}%
                                                                br
                                                                | 현재 상태 : 지연
                                                                br
                                                                | 기간 :#{proj.START_DATE.getFullYear()}/#{proj.START_DATE.getMonth()+1}/#{proj.START_DATE.getDate()}  -  #{proj.END_DATE.getFullYear()}/#{proj.END_DATE.getMonth()+1}/#{proj.END_DATE.getDate()} 
                                                                br
                                                                | 최근 업데이트 : #{proj.updatedAt.getFullYear()}/#{proj.updatedAt.getMonth()+1}/#{proj.updatedAt.getDate()} #{proj.updatedAt.getHours()}:#{proj.updatedAt.getMinutes()}:#{proj.updatedAt.getSeconds()}
                                                            a.card-footer(href='/projects/'+proj.ID)
                                                                .d-flex.align-items-center.justify-content-between.small.text-body
                                                                    | 프로젝트로 이동
                                                                    i(data-feather='arrow-right')
                                        else                
                                            | 현재 진행 중인 프로젝트가 없습니다
                        // Wizard tab pane item 3
                        .tab-pane.py-5.py-xl-10.fade#wizard3(role='tabpanel', aria-labelledby='wizard3-tab')
                            .container.mt-n10
                                .proj
                                    .row
                                        if projs.rows.length != 0                
                                            each proj in projs.rows
                                                if proj.STATUS == '-2'
                                                    .col-xl-6.mb-4
                                                        .card.card-header-actions.h-100
                                                            .card-header
                                                                | #{proj.NAME}
                                                            .card-body
                                                                if proj.NUM_TASKS == '0'
                                                                    | 현재 진행도 : 0%
                                                                else
                                                                    | 현재 진행도 : #{Math.round((proj.NUM_DONE_TASKS*100)/proj.NUM_TASKS)}%
                                                                br
                                                                | 현재 상태 : 취소
                                                                br
                                                                | 기간 :#{proj.START_DATE.getFullYear()}/#{proj.START_DATE.getMonth()+1}/#{proj.START_DATE.getDate()}  -  #{proj.END_DATE.getFullYear()}/#{proj.END_DATE.getMonth()+1}/#{proj.END_DATE.getDate()} 
                                                                br
                                                                | 최근 업데이트 : #{proj.updatedAt.getFullYear()}/#{proj.updatedAt.getMonth()+1}/#{proj.updatedAt.getDate()} #{proj.updatedAt.getHours()}:#{proj.updatedAt.getMinutes()}:#{proj.updatedAt.getSeconds()}
                                                            a.card-footer(href='/projects/'+proj.ID)
                                                                .d-flex.align-items-center.justify-content-between.small.text-body
                                                                    | 프로젝트로 이동
                                                                    i(data-feather='arrow-right')
                                        else                
                                            | 현재 진행 중인 프로젝트가 없습니다
                        // Wizard tab pane item 4
                        .tab-pane.py-5.py-xl-10.fade#wizard4(role='tabpanel', aria-labelledby='wizard4-tab')
                            .container.mt-n10
                                .proj
                                    .row
                                        if projs.rows.length != 0                
                                            each proj in projs.rows
                                                if proj.STATUS == '1'
                                                    .col-xl-6.mb-4
                                                        .card.card-header-actions.h-100
                                                            .card-header
                                                                | #{proj.NAME}
                                                            .card-body
                                                                if proj.NUM_TASKS == '0'
                                                                    | 현재 진행도 : 0%
                                                                else
                                                                    | 현재 진행도 : #{Math.round((proj.NUM_DONE_TASKS*100)/proj.NUM_TASKS)}%
                                                                br
                                                                | 현재 상태 : 완료
                                                                br
                                                                | 기간 :#{proj.START_DATE.getFullYear()}/#{proj.START_DATE.getMonth()+1}/#{proj.START_DATE.getDate()}  -  #{proj.END_DATE.getFullYear()}/#{proj.END_DATE.getMonth()+1}/#{proj.END_DATE.getDate()} 
                                                                br
                                                                | 최근 업데이트 : #{proj.updatedAt.getFullYear()}/#{proj.updatedAt.getMonth()+1}/#{proj.updatedAt.getDate()} #{proj.updatedAt.getHours()}:#{proj.updatedAt.getMinutes()}:#{proj.updatedAt.getSeconds()}
                                                            a.card-footer(href='/projects/'+proj.ID)
                                                                .d-flex.align-items-center.justify-content-between.small.text-body
                                                                    | 프로젝트로 이동
                                                                    i(data-feather='arrow-right')
                                        else                
                                            | 현재 진행 중인 프로젝트가 없습니다
                        // Wizard tab pane item 5
                        .tab-pane.py-5.py-xl-10.fade#wizard5(role='tabpanel', aria-labelledby='wizard5-tab')
                            .container.mt-n10
                                .proj
                                    .row
                                        if projs.rows.length != 0                
                                            each proj in projs.rows
                                                .col-xl-6.mb-4
                                                    .card.card-header-actions.h-100
                                                        .card-header
                                                            | #{proj.NAME}
                                                        .card-body
                                                            if proj.NUM_TASKS == '0'
                                                                | 현재 진행도 : 0%
                                                            else
                                                                | 현재 진행도 : #{Math.round((proj.NUM_DONE_TASKS*100)/proj.NUM_TASKS)}%
                                                            br
                                                            if proj.STATUS  == '0'
                                                                | 현재 상태 : 정상
                                                            else if proj.STATUS == '-1'
                                                                | 현재 상태 : 지연
                                                            else if proj.STATUS == '-2'
                                                                | 현재 상태 : 취소
                                                            else if proj.STATUS == '1'
                                                                | 현재 상태 : 완료
                                                            br
                                                            | 기간 :#{proj.START_DATE.getFullYear()}/#{proj.START_DATE.getMonth()+1}/#{proj.START_DATE.getDate()}  -  #{proj.END_DATE.getFullYear()}/#{proj.END_DATE.getMonth()+1}/#{proj.END_DATE.getDate()} 
                                                            br
                                                            | 최근 업데이트 : #{proj.updatedAt.getFullYear()}/#{proj.updatedAt.getMonth()+1}/#{proj.updatedAt.getDate()} #{proj.updatedAt.getHours()}:#{proj.updatedAt.getMinutes()}:#{proj.updatedAt.getSeconds()}
                                                        a.card-footer(href='/projects/'+proj.ID)
                                                            .d-flex.align-items-center.justify-content-between.small.text-body
                                                                | 프로젝트로 이동
                                                                i(data-feather='arrow-right')
                                        else                
                                            | 현재 진행 중인 프로젝트가 없습니다
                
    
//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

//- Add JS for third party plugins used on this page
append scripts
