//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '프로젝트 시작하기'

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav.pug
    +sidenav({
        sidenavStyle: 'sidenav-light',
        user: user.NAME
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: '새로운 프로젝트를 생성합니다.',
        pageIcon: 'arrow-right-circle',
        breadcrumbs: false
    })

    script.
        function printInputs()  {
            const pnameout = document.getElementById('inputProjectname').value;
            const desc = document.getElementById('description').value;
            const sdate = document.getElementById('inputStartdate').value;
            const edate = document.getElementById('inputEnddate').value;

            document.getElementById("pnameShow").innerText = pnameout;
            document.getElementById("descShow").innerText = desc;
            document.getElementById("sDateShow").innerText = sdate;
            document.getElementById("eDateShow").innerText = edate;
        }

        function moveTab(from, to, last) {
            var buttons = document.querySelectorAll('#step');
            console.log(buttons);
            var fromTab = document.getElementById('wizard'+from+'-tab');
            var toTab = document.getElementById('wizard'+to+'-tab');
            fromTab.classList.remove('active');
            toTab.classList.add('active');
            fromTab.setAttribute('aria-selected', 'false');
            toTab.setAttribute('aria-selected', 'true');

            for (var i = 0; i < buttons.length; i++){
                buttons[i].classList.remove('active');
            }

            if (last == 1){
                const pnameout = document.getElementById('inputProjectname').value;
                const desc = document.getElementById('description').value;
                const sdate = document.getElementById('inputStartdate').value;
                const edate = document.getElementById('inputEnddate').value;

                document.getElementById("pnameShow").innerText = pnameout;
                document.getElementById("descShow").innerText = desc;
                document.getElementById("sDateShow").innerText = sdate;
                document.getElementById("eDateShow").innerText = edate;
            }
        }


    // Main page content
    .container.mt-n10
        // Wizard card example with navigation
        .card
            form(method="POST")
                .card-header.border-bottom
                    // Wizard navigation
                    .nav.nav-pills.nav-justified.flex-column.flex-xl-row.nav-wizard#cardTab(role='tablist')
                        // Wizard navigation item 1
                        a.nav-item.nav-link.active#wizard1-tab(href='#wizard1', data-toggle='tab', role='tab', aria-controls='wizard1', aria-selected='true')
                            .wizard-step-icon
                                | 1
                            .wizard-step-text   
                                .wizard-step-text-name Project Info
                                .wizard-step-text-details 기본정보를 입력합니다.
                        // Wizard navigation item 2
                        a.nav-item.nav-link#wizard2-tab(href='#wizard2', data-toggle='tab', role='tab', aria-controls='wizard2', aria-selected='true')
                            .wizard-step-icon
                                | 2
                            .wizard-step-text
                                .wizard-step-text-name Project Plan
                                .wizard-step-text-details 프로젝트 기간을 계획합니다.
                        // Wizard navigation item 3
                        a.nav-item.nav-link#wizard3-tab(href='#wizard3', data-toggle='tab', role='tab', aria-controls='wizard3', aria-selected='true')
                            .wizard-step-icon
                                | 3
                            .wizard-step-text
                                .wizard-step-text-name Project Members
                                .wizard-step-text-details 함께 프로젝트를 진행할 멤버를 초대합니다.
                        // Wizard navigation item 4
                        a.nav-item.nav-link#wizard4-tab(href='#wizard4', data-toggle='tab', role='tab', aria-controls='wizard4', aria-selected='true', onclick='printInputs()')
                            .wizard-step-icon
                                | 4
                            .wizard-step-text
                                .wizard-step-text-name 검토 &amp; 생성
                                .wizard-step-text-details 입력한 정보를 검토 및 확인합니다.
                .card-body
                    .tab-content#cardTabContent
                        // Wizard tab pane item 1
                        .tab-pane.py-5.py-xl-10.fade.show.active#wizard1(role='tabpanel', aria-labelledby='wizard1-tab')
                            .row.justify-content-center
                                .col-xxl-6.col-xl-8
                                    h3.text-primary Step 1
                                    h5.card-title Enter Project Information
                                        .form-group
                                            label.small.mb-1(for='inputProjectname') 프로젝트 명
                                            input#inputProjectname.form-control(type='text', name='project_name',placeholder='프로젝트의 이름을 입력하세요.')
                                        .form-row
                                            .form-group.col-md-12
                                                label(for='description') 요약
                                                textarea#description.form-control(name='desc', rows='3', placeholder='프로젝트에 대한 소개를 입력하세요.')

                                        hr.my-4
                                        .d-flex.justify-content-between
                                            button#step.btn.btn-primary.btnNext(data-toggle='tab', href='#wizard2', onclick='moveTab(1,2,0)') 다음 단계로
                        // Wizard tab pane item 2
                        .tab-pane.py-5.py-xl-10.fade#wizard2(role='tabpanel', aria-labelledby='wizard2-tab')
                            .row.justify-content-center
                                .col-xxl-6.col-xl-8
                                    h3.text-primary Step 2
                                    h5.card-title Set Project Plan
                                        .form-row
                                            .form-group.col-md-6                                
                                                label.small.mb-1(for='start_date') 시작 날짜
                                                input#inputStartdate.form-contorl(type='date', name='start_date')
                                        .form-row
                                            .form-group.col-md-6
                                                label.small.mb-1(for='end_date') 종료 날짜
                                                input#inputEnddate.form-contorl(type='date', name='end_date')
                                        hr.my-4
                                        .d-flex.justify-content-between
                                            button#step.btn.btn-light.btnPrevious(type='button',data-toggle='tab', href='#wizard1', onclick='moveTab(2,1,0)') 이전 단계로
                                            button#step.btn.btn-primary.btnNext(type='button',data-toggle='tab', href='#wizard3', onclick='moveTab(2,3,0)') 다음 단계로
                        // Wizard tab pane item 3
                        .tab-pane.py-5.py-xl-10.fade#wizard3(role='tabpanel', aria-labelledby='wizard3-tab')
                            .row.justify-content-center
                                .col-xxl-10.col-xl-12
                                    h3.text-primary Step 3
                                    h5.card-title Invite Project Members
                                    .card.mb-4
                                        .card-header
                                            | User List
                                        .card-body
                                            .datatable
                                                table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
                                                    thead
                                                        tr
                                                            th 이름
                                                            th 회사
                                                            th 직책
                                                            th email
                                                            th Actions

                                                    tfoot
                                                        tr
                                                            th 이름
                                                            th 회사
                                                            th 직책
                                                            th email
                                                            th Actions

                                                    tbody
                                                        if invitelist.length != 0
                                                            each invite in invitelist
                                                                tr
                                                                    td #{invite.NAME}
                                                                    td #{invite.COMPANY}
                                                                    td #{invite.POSITION}
                                                                    td #{invite.EMAIL}            
                                                                    td
                                                                        button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                                                                            i(data-feather='user-plus')
                                            button.btn.btn-success(type='button') 메일로 초대하기
                                    hr.my-4
                                    .d-flex.justify-content-between
                                        button#step.btn.btn-light.btnPrevious(type='button',data-toggle='tab', href='#wizard2', onclick='moveTab(3,2,0)') 이전 단계로
                                        button#step.btn.btn-primary.btnNext(type='button',data-toggle='tab', href='#wizard4', onclick='moveTab(3,4,1)') 다음 단계로
                        // Wizard tab pane item 4
                        .tab-pane.py-5.py-xl-10.fade#wizard4(role='tabpanel', aria-labelledby='wizard4-tab')
                            .row.justify-content-center
                                .col-xxl-6.col-xl-8
                                    h3.text-primary Step 4
                                    h5.card-title Review the following information and submit
                                    .row.small.text-muted
                                        .col-sm-3.text-truncate
                                            em 프로젝트 이름:
                                        .col#pnameShow
                                    .row.small.text-muted
                                        .col-sm-3.text-truncate
                                            em 총괄 책임자:
                                        .col #{user.NAME}
                                    .row.small.text-muted
                                        .col-sm-3.text-truncate
                                            em 프로젝트 요약:
                                        .col#descShow
                                    .row.small.text-muted
                                        .col-sm-3.text-truncate
                                            em 프로젝트 시작일:
                                        .col#sDateShow 
                                    .row.small.text-muted
                                        .col-sm-3.text-truncate
                                            em 프로젝트 예상 종료일:
                                        .col#eDateShow
                                    .row.small.text-muted
                                        .col-sm-3.text-truncate
                                            em 구성원:
                                        .col dev ing...

                                    hr.my-4
                                    .d-flex.justify-content-between
                                        button#step.btn.btn-light.btnPrevious(type='button',data-toggle='tab', href='#wizard3', onclick='moveTab(4,3,0)') 이전 단계로
                                        button.btn.btn-primary(type='submit') 생성하기

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load Moment.js and Date Range Picker via CDN
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load Moment.js and Date Range Picker via CDN
    script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js', crossorigin='anonymous')
    //- Load Date Range Picker initialization script
    script(src='/assets/demo/tabclicker.js')
    script(src='/assets/demo/datatables-demo.js')
