//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '업무 게시판'

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: 'Example dashboard overview and content summary',
        pageIcon: 'activity',
        breadcrumbs: false
    })

        a.btn.btn-light.btn-sm.line-height-normal.p-3(href='/project/job/create?pid='+pid) 새로운 업무 생성


    // Main page content
    .container.mt-n10
        .card.mb-4
            .card-header 업무게시판 data table
            .card-body      
                .datatable
                    table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
                        thead
                            tr
                                th 작성자
                                th 제목
                                th 기간
                                th 최근 업데이트
                                th 진행도
                        tfoot
                            tr
                                th 작성자
                                th 제목
                                th 기간
                                th 최근 업데이트
                                th 진행도
                        tbody
                            if jobs.length != 0
                                each job in jobs
                                    tr
                                        td #{job.AUTHOR}
                                        td 
                                            a(href='/project/job?pid='+pid+'&jid='+job.ID, title='#{job.TITLE}') #{job.TITLE}
                                        td #{job.START_DATE.getFullYear()}/#{job.START_DATE.getMonth()}/#{job.START_DATE.getDate()}  -  #{job.END_DATE.getFullYear()}/#{job.END_DATE.getMonth()}/#{job.END_DATE.getDate()}
                                        td #{job.updatedAt.getFullYear()}/#{job.updatedAt.getMonth()}/#{job.updatedAt.getDate()} #{job.updatedAt.getHours()}:#{job.updatedAt.getMinutes()}:#{job.updatedAt.getSeconds()}                                  
                                        if job.NUM_TASKS == '0'    
                                            td 준비 단계
                                        else
                                            td #{job.NUM_DONE_TASKS / job.NUM_TASKS}%                                                                                
                            
//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='/assets/demo/datatables.js')
