//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '멤버관리'

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white',
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid,
        isPM: isPM
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: '프로젝트에 참여하고 있는 멤버를 관리합니다.',
        pageIcon: 'activity',
        breadcrumbs: false
    })

    // Main page content
    .container.mt-n10
        .row                           
            .col-xxl-12.col-xl-12.mb-6
                // Team members / people dashboard card example
                .card.mb-4
                    .card-header
                        | 현재 멤버
                    .card-body
                        // Item 1
                        each member in members
                            .d-flex.align-items-center.justify-content-between.mb-4
                                .d-flex.align-items-center.flex-shrink-0.mr-3
                                    .avatar.avatar-xl.mr-3.bg-gray-200
                                        img.avatar-img.img-fluid(src=member.USER.prof_img_url, alt='')
                                    .d-flex.flex-column.font-weight-bold
                                        if (member.ISPM == 1)
                                            a.text-dark.line-height-normal.mb-1(data-toggle='modal', data-target='userInfo') #{member.USER.NAME} (PM)
                                        else
                                            a.text-dark.line-height-normal.mb-1(data-toggle='modal', data-target='userInfo') #{member.USER.NAME}                                            
                                        .small.text-muted.line-height-normal #{member.USER.COMPANY}
                                
                        
                
            .col-xxl-12.col-xl-12.mb-6
                .card
                    .card-body.text-center.p-5
                        img.img-fluid.mb-4(src='/assets/img/freepik/team-spirit-pana.svg', alt='', style='max-width: 16.25rem')
                        h5 팀원 초대하기
                        p.mb-4 새로운 멤버를 초대합니다.
                        if proj.STATUS == 0 || proj.STATUS == -1
                            a.btn.btn-sm.btn-primary.p-3.line-height-normal(data-toggle="modal", href='#inviteModal') Invite
                
            .col-xxl-12.col-xl-12.mb-6
                .card.mb-4
                    .card-header
                        | 초대 현황
                    .card-body
                        // Item 2
                        if invitedlist.length != 0
                            each invited in invitedlist
                                if invited.STATUS != 1
                                    .d-flex.align-items-center.justify-content-between.mb-4
                                        .d-flex.align-items-center.flex-shrink-0.mr-3
                                            .avatar.avatar-xl.mr-3.bg-gray-200
                                                img.avatar-img.img-fluid(src=invited.USER.prof_img_url, alt='')
                                            .d-flex.flex-column.font-weight-bold
                                                a.text-dark.line-height-normal.mb-1 #{invited.USER.NAME}
                                                if invited.STATUS == 0
                                                    .small.text-muted.line-height-normal 대기중
                                                else if invited.STATUS == -1
                                                    .small.text-muted.line-height-normal 거절
                                        .dropdown.no-caret
                                            button#dropdownPeople2.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                i(data-feather='trash')
                        else
                            div 초대를 기다리고 있는 멤버가 없습니다!
                        
           
                
                //- userinfo Modal
                .modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
                    .modal-dialog.modal-dialog-scrollable(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalScrollableTitle.modal-title 회원 정보
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                            .modal-body
                            | ...
                            .modal-footer
                                button.btn.btn-secondary(type='button') 메세지 보내기
                                button.btn.btn-primary(type='button', data-dismiss='modal') 닫기
                
                //- Invite Modal
                .modal.fade(id='inviteModal', tabindex='-1', role='dialog', aria-labelledby='inviteModal', aria-hidden='true')
                    .modal-dialog.modal-xl(role='document')
                        .modal-content
                            form(method="POST")
                                div.form#invitedlist
                                .modal-header
                                    h5#inviteModal.modal-title 새로운 팀원 초대하기
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                .modal-body
                                    h3 멤버 초대
                                        .datatable
                                            table#inviteTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
                                                thead
                                                    tr
                                                        th id
                                                        th 이름
                                                        th 회사
                                                        th 직책
                                                        th email
                                                        th Actions

                                                tfoot
                                                    tr
                                                        th id
                                                        th 이름
                                                        th 회사
                                                        th 직책
                                                        th email
                                                        th Actions

                                                tbody
                                                    if userstoinvite.length != 0
                                                        each userToInvite in userstoinvite
                                                            tr
                                                                td #{userToInvite.ID}
                                                                td #{userToInvite.NAME}
                                                                td #{userToInvite.COMPANY}
                                                                td #{userToInvite.POSITION}
                                                                td #{userToInvite.EMAIL}            
                                                                td
                                                                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2.invite(type='button')
                                                                        i(data-feather='user-plus')
                                    h3 초대 목록
                                        .datatable        
                                            table#invitedTable.table.table-bordered.table-hover(width='100%', cellspacing='0')  
                                                thead
                                                    tr
                                                        th id
                                                        th 이름
                                                        th 회사
                                                        th 직책
                                                        th email
                                                        th Actions
                                                tfoot
                                                    tr
                                                        th id
                                                        th 이름
                                                        th 회사
                                                        th 직책
                                                        th email
                                                        th Actions
                                                tbody

                                .modal-footer
                                    button.btn.btn-success(type='submit') 초대하기
                                    button.btn.btn-primary(type='button', data-dismiss='modal') 닫기
//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })


append scripts
    //- Load Moment.js and Date Range Picker via CDN
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')
    //- Load dataTables via CDN
    script(src='https://code.jquery.com/jquery-3.5.1.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load Date Range Picker initialization script
    script(src='/assets/demo/datatables-invite.js')
