//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '공지사항'

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'mb-4',
        pageHeaderContainer: 'container',
        pageSubtitle: 'What are you looking for? Our knowledge base is here to help.',
        pageIcon: 'life-buoy',
        breadcrumbs: false,
    })

    // Main page content
    .container

        // Knowledge base article
        .card.mb-4
            .card-header.d-flex.align-items-center
                a.btn.btn-transparent-dark.btn-icon(href='/project/notices?pid='+pid)
                    i(data-feather='arrow-left')
                .ml-3
                    h2.my-3 #{notice.TITLE}
            .card-body
                h4 작성자 : #{notice.AUTHOR}
                h5 작성일 : #{notice.updatedAt.getFullYear()}/#{notice.updatedAt.getMonth()+1}/#{notice.updatedAt.getDate()} #{notice.updatedAt.getHours()}:#{notice.updatedAt.getMinutes()}:#{notice.updatedAt.getSeconds()}  
                h5 수정일 : #{notice.updatedAt.getFullYear()}/#{notice.updatedAt.getMonth()+1}/#{notice.updatedAt.getDate()} #{notice.updatedAt.getHours()}:#{notice.updatedAt.getMinutes()}:#{notice.updatedAt.getSeconds()}  
                p.lead.mb-5 #{notice.CONTENT}
                .alert.alert-primary.alert-icon.mb-0(role='alert')
                    .alert-icon-aside
                        i(data-feather='folder') 첨부파일
                    .alert-icon-content
                        if files.length != 0
                            each file in files
                                a.alert-heading(href='/download/'+file.server_NAME) #{file.original_NAME}  
                                br
                        else
            .card-footer
                form(method="POST", action='/comment/'+pid+'/'+0+'/'+notice.ID)
                    .row
                        textarea#form-control.col-10(name='comment', row=2, placeholder='댓글을 입력하세요')
                        button.btn.btn-primary.col-2(type='submit') 등록
                hr.mt-0.mb-4
                if comments.length != 0
                    each comment in comments
                        .comment-group.col-12
                            hr.mt-0.mb-4
                            .row
                                .avatar
                                    img.avatar-img.img-fluid(src=comment.USER.prof_img_url)
                                .mb-1 #{comment.USER.NAME} 
                            pre.comment #{comment.CONTENT}
                            .row.small.text-muted.justify-content-end 작성일 : #{comment.createdAt.getFullYear()}/#{comment.createdAt.getMonth()+1}/#{comment.createdAt.getDate()} #{comment.createdAt.getHours()}:#{comment.createdAt.getMinutes()}:#{comment.createdAt.getSeconds()} 

                else
                    p.d-flex.justify-content-center 댓글이 없습니다.

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })