extends ../../layouts/dashboard.pug

block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '공지사항'

block topnav

    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

block sidenav

    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid,
        isPM: isPM
    })

block content

    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'mb-4',
        pageHeaderContainer: 'container',
        pageSubtitle: 'What are you looking for? Our knowledge base is here to help.',
        pageIcon: 'life-buoy',
        breadcrumbs: false,
    })

    // Main page content
    .container

        // Knowledge base article
        .card.mb-4
            .card-header.d-flex.align-items-center
                a.p-2.btn.btn-transparent-dark.btn-icon(href='/projects/'+pid+'notices')
                    i(data-feather='arrow-left')
                .ml-3.p-2
                    h2.my-3 #{notice.TITLE}
                if user.ID == notice.AUTHOR_ID
                    .ml-auto.p-2.dropdown.no-caret
                        button#dropdownMenuButton.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            i.text-primary(data-feather='more-vertical')
                        .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href=notice.ID+'/fix') 수정하기
                                a.dropdown-item(href='') 삭제하기
                else if isPM
                    .ml-auto.p-2.dropdown.no-caret
                        button#dropdownMenuButton.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            i.text-primary(data-feather='more-vertical')
                        .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='') 삭제하기
            .card-body
                h4 작성자 : #{notice.AUTHOR}
                h5 작성일 : #{notice.updatedAt.getFullYear()}/#{notice.updatedAt.getMonth()+1}/#{notice.updatedAt.getDate()} #{notice.updatedAt.getHours()}:#{notice.updatedAt.getMinutes()}:#{notice.updatedAt.getSeconds()}  
                h5 수정일 : #{notice.updatedAt.getFullYear()}/#{notice.updatedAt.getMonth()+1}/#{notice.updatedAt.getDate()} #{notice.updatedAt.getHours()}:#{notice.updatedAt.getMinutes()}:#{notice.updatedAt.getSeconds()}  
                pre.lead.mb-5 #{notice.CONTENT}
                .alert.alert-primary.alert-icon.mb-0(role='alert')
                    .alert-icon-aside
                        i(data-feather='folder') 첨부파일
                    .alert-icon-content
                        if files.length != 0
                            each file in files
                                a.alert-heading(href='/download/'+file.server_NAME) #{file.original_NAME}  
                                br
                        else
            .card-footer
                form(method="POST", action='/comments/notices/'+notice.ID)
                    .row
                        textarea#form-control.col-10(name='comment', row=2, placeholder='댓글을 입력하세요')
                        input(type='hidden', name='pid', value=pid)
                        button.btn.btn-primary.col-2(type='submit') 등록
                hr.mt-0.mb-4
                if comments.length != 0
                    each comment in comments
                        .comment-group.col-12
                            hr
                            .row
                                .avatar
                                    img.avatar-img.img-fluid(src=comment.USER.prof_img_url)
                                .mb-1 #{comment.USER.NAME} 
                            pre.comment #{comment.CONTENT}
                            .row.small.text-muted.justify-content-end 작성일 : #{comment.createdAt.getFullYear()}/#{comment.createdAt.getMonth()+1}/#{comment.createdAt.getDate()} #{comment.createdAt.getHours()}:#{comment.createdAt.getMinutes()}:#{comment.createdAt.getSeconds()} 

                else
                    p.d-flex.justify-content-center 댓글이 없습니다.

block footer

    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='/assets/demo/datatables.js')
