//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = proj.NAME

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid,
        isPM: isPM
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: proj.DESCRIPTION,
        pageIcon: 'activity',
        breadcrumbs: false
    })

    // Main page content
    .container.mt-n10

        .row
            .col-xxl-12.col-xl-12.mb-6
                a.card.lift.h-100(href='#!')
                    .card-body.d-flex.justify-content-center.flex-column
                        .d-flex.align-items-center.justify-content-between
                            .mr-3
                                i.feather-xl.text-green.mb-3(data-feather='layout')
                                h5 진행상황
                            .mr-3
                                h5 등록된 업무 갯수 : #{proj.NUM_TASKS}
                                h5 완료된 업무 갯수 : #{proj.NUM_DONE_TASKS}
                            img.card-img-top(src='../../assets/img/freepik/windows-pana.svg', alt='...', style='width: 10rem;')
        
        .row
            .col-xxl-12.col-xl-12.mb-6
                .card.card-header-actions.mb-4
                    .card-header
                        | 업무별 진행상황
                        if proj.STATUS == 0 || proj.STATUS == -1
                            a.small.text-arrow-icon(href='/projects/'+pid+'/jobs/job-create')
                                | Create New
                                i(data-feather='arrow-right')
                    .card-body
                        if jobs.length != 0
                            each job in jobs
                                a(href='/projects/'+proj.ID+'/jobs/'+job.ID)
                                    .d-flex.align-items-center.justify-content-between.small.mb-1
                                        .font-weight-bold #{job.TITLE}
                                        if job.NUM_TASKS == '0'
                                            | 0%
                                        else
                                            | #{Math.round((job.NUM_DONE_TASKS*100)/job.NUM_TASKS)}%
                                    .progress.mb-3
                                        .progress-bar.bg-danger(role='progressbar', style='width: '+Math.round((job.NUM_DONE_TASKS*100)/job.NUM_TASKS)+'%', aria-valuenow=job.NUM_DONE_TASKS/job.NUM_TASKS, aria-valuemin='0', aria-valuemax='100')
                        else
                            | 아직 등록된 업무가 없습니다.
        .row
            .col-xxl-8.col-xl-8.mb-4
                // Pie chart with legend example
                .card.h-100
                    .card-header 업무 pie chart
                    .card-body
                        if jobs.length == 0
                            p 진행중인 업무 없습니다.
                        else
                            canvas#myPieChart(width='100%')
            
    //chart script
    script.
        var ctx = document.getElementById("myPieChart");
        var x = !{JSON.stringify(jobs)}
        const colors = [

        ]
        var projLabel = [];
        var projData = [];
        var bgColor = [];
        var bgColorlist = [
            "rgba(255, 22, 103, 1)",
            "rgba(0, 97, 242, 1)",
            "rgba(255, 159, 63, 1)",
            "rgba(0, 172, 105, 1)",
            "rgba(255, 205, 86, 1)",
            "rgba(88, 0, 232, 1)",
            "rgba(153, 102, 255, 1)"
        ];
        
        var HoverbgColor = [];
        var HoverbgColorlist = [
            "rgba(255, 22, 103, 0.9)",
            "rgba(0, 97, 242, 0.9)",
            "rgba(255, 159, 63, 0.9)",
            "rgba(0, 172, 105, 0.9)",
            "rgba(255, 205, 86, 0.9)",
            "rgba(88, 0, 232, 0.9)",
            "rgba(153, 102, 255, 0.9)"
        ];

        index = -1;
        x.forEach(elements=>{
            index += 1
            projLabel.push(elements.TITLE);
            projData.push(elements.NUM_TASKS);
            bgColor.push(bgColorlist[index%7]);
            HoverbgColor.push(HoverbgColorlist[index%7]);
        })

        var myPieChart = new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: projLabel,
                datasets: [{
                    data: projData,
                    backgroundColor: bgColor,
                    hoverBackgroundColor: HoverbgColor,
                    hoverBorderColor: "rgba(234, 236, 244, 1)"
                }]
            },
            options:{
                legend: {
                    display: true
                }
            }
        });


//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')
    //- Load custom Chart.js styling and demo dat   
    //- Load Moment.js and Date Range Picker via CDN
    script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js', crossorigin='anonymous')

