//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '프로젝트 설정'

//- Add CSS for third party plugins used on this page
append css
    //- Load Date Range Picker via CDN
    link(href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: proj.ID,
        isPM: isPM
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: '프로젝트 설정 페이지 입니다.',
        pageIcon: 'settings',
        breadcrumbs: false
    })

    // Main page content
    .container.mt-4
        if proj.STATUS == 0 || proj.STATUS == -1        
            .row            
                .col-xl-8
                    // Account details card
                    .card.mb-4
                        .card-header 프로젝트 설정
                        .card-body
                            form(method='post')
                                // Form Row
                                .form-row
                                    // Form Group (first name)
                                    .form-group.col-md-6
                                        label.small.mb-1(for='projectName') 이름
                                        input#projectName.form-control(type='text', value=proj.NAME, name='name')
                                    
                                // Form Row        
                                .form-row
                                    // Form Group (organization name)
                                    .form-group.col-md-6
                                        label.small.mb-1(for='projectDesc') 요약
                                        input#projectDesc.form-control(type='text', value=proj.DESCRIPTION, name='projectDesc')
                                    
                                // Form Group (email address)
                                .form-group
                                    .form-row
                                        .form-group.col-md-6                                
                                            label.small.mb-1(for='inputStartdate') 시작 날짜
                                            input#inputStartdate.form-contorl(type='date', value=proj.START_DATE.getFullYear() + "-" + ("00" + (proj.START_DATE.getMonth() + 1)).slice(-2) + "-" + ("00" + proj.START_DATE.getDate()).slice(-2), name='start_date')
                                    .form-row
                                        .form-group.col-md-6
                                            label.small.mb-1(for='inputEnddate') 종료 날짜
                                            input#inputEnddate.form-contorl(type='date', value=proj.END_DATE.getFullYear() + "-" + ("00" + (proj.END_DATE.getMonth() + 1)).slice(-2) + "-" + ("00" + proj.END_DATE.getDate()).slice(-2), name='end_date')
                                // Save changes button
                                button.btn.btn-primary(type='submit') 수정사항 저장하기
                .col-lg-4
                    // Two factor authentication card
                    .card.mb-4
                        .card-header 프로젝트 완료 처리
                        .card-body
                            p 프로젝트를 완료합니다. 
                            a.btn.btn-success.text-white(data-toggle="modal", href='#projDone') #{proj.NAME}을 완료합니다.
                    // Delete account card
                    .card.mb-4
                        .card-header 프로젝트 중단 하기
                        .card-body
                            p 프로젝트를 중단합니다.
                            a.btn.btn-danger.text-white(data-toggle="modal", href='#projCancel') #{proj.NAME}을 중단합니다.
        else if proj.STATUS == 1
            p 해당 프로젝트는 완료된 상태입니다
        else if proj.STATUS == -2
            p 해당 프로젝트는 취소된 상태입니다


    #projDone.modal.fade(data-backdrop='static', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered(role='document')            
            .modal-content
                .modal-header
                    h5#exampleModalScrollableTitle.modal-title #{proj.NAME}
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') × 
                .modal-body
                    p #{proj.NAME}을 현재 상태에서 완료처리 합니다.
                    | 현재 진행률과 상관없이 완료처리가 되며, 완료된 프로젝트 목록에서 조회할 수 있습니다.
                    p
                    a.btn.btn-success.text-white(type='button', href='/projects/'+proj.ID+'/settings/status/complete') #{proj.NAME}을 완료합니다.

                .modal-footer
                    //- button.btn.btn-secondary(type='button') 수정
                    button.btn.btn-primary(type='button', data-dismiss='modal') 닫기 
    
    #projCancel.modal.fade(data-backdrop='static', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered(role='document')            
            .modal-content
                .modal-header
                    h5#exampleModalScrollableTitle.modal-title #{proj.NAME}
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') × 
                .modal-body
                    p #{proj.NAME}을 현재 상태에서 취소합니다.
                    |  * 주의사항 *
                    li 프로젝트를 취소한 후에는 추가적인 멤버 초대, 업무 진행 및 작성을 진행할 수 없습니다.
                    li 취소된 프로젝트는 자신의 프로젝트 목록 조회에서 확인및 개별 삭제를 진행할 수 있습니다.
                    li 프로젝트 취소는 7일이 지난 후에 정상적으로 적용됩니다. (취소가 완료된 이후에는 상태를 변경할 수 없습니다.)
                    p 위 사항을 모두 인지하고 취소를 진행하는 경우 아래의 버튼을 클릭해 주십시오.
                    p
                    a.btn.btn-danger.text-white(type='submit', href='/projects/'+proj.ID+'/settings/status/cancel') #{proj.NAME}을 중단합니다.

                .modal-footer
                    //- button.btn.btn-secondary(type='button') 수정
                    button.btn.btn-primary(type='button', data-dismiss='modal') 닫기
            
//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer
    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })
