//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = job.TITLE

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid,
        isPM: isPM
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content
    

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/headers/header-breadcrumb.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: job.DESCRIPTION,
        pageIcon: 'activity',
        breadcrumbs: true,
        pid: pid,
    })


    script.
        
        function postComment(post_id){

            var comment_content = document.getElementById('comment_input'+post_id).value;
            document.getElementById('comment_input'+post_id).value = "";
            data = {comment: comment_content};

            fetch('/comments/job_posts/'+post_id,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'    
                },
                body: JSON.stringify(data)
            }).then(function(response){
                var comment = document.getElementById('comments'+post_id);

                while(comment.firstChild){
                    comment.removeChild(comment.lastChild);
                }

                response.json().then(data =>{
                    if(data.length == 0){
                        var no_comment = document.createElement("div");
                        no_comment.innerHTML = "댓글이 없습니다.";

                        comment.appendChild(no_comment);
                    }else{
                        data.forEach(elements => {
                            var new_comment = document.createElement("div");
                            new_comment.classList.add('comment-group', 'col-12');

                            var line = document.createElement("hr");
                            var row = document.createElement("div");
                            row.classList.add('row');

                            var avatar = document.createElement("div");
                            avatar.classList.add('avatar');

                            var prof_img = document.createElement("img");
                            prof_img.classList.add('avatar', 'img-fluid');
                            prof_img.setAttribute("src", elements.USER.prof_img_url);

                            var name = document.createElement("div");
                            name.classList.add('mb-1');
                            name.innerHTML = elements.USER.NAME;

                            avatar.appendChild(prof_img);

                            row.appendChild(avatar);
                            row.appendChild(name);

                            var contents = document.createElement("pre");
                            contents.innerHTML = elements.CONTENT

                            var date = document.createElement("div");
                            date.classList.add('row', 'small', 'text-muted', 'justify-content-end');
                            date.innerHTML = elements.updatedAt.substr(0,10) +"  "+ elements.updatedAt.substr(11,8);
                            new_comment.appendChild(line);
                            new_comment.appendChild(row);
                            new_comment.appendChild(contents);
                            new_comment.appendChild(date);

                            comment.appendChild(new_comment);
                        })
                    }  
                });
            }
        )}


        function getComments(post_id){
            
            var comment = document.getElementById('comments'+post_id);

            while(comment.firstChild){
                comment.removeChild(comment.lastChild);
            }

            fetch('/comments/job_posts/'+post_id).then(function(response){
                

                response.json().then(data =>{
                    if(data.length == 0){
                        var no_comment = document.createElement("div");
                        no_comment.innerHTML = "댓글이 없습니다.";

                        comment.appendChild(no_comment);
                    }else{
                        data.forEach(elements => {
                            var new_comment = document.createElement("div");
                            new_comment.classList.add('comment-group', 'col-12');

                            var line = document.createElement("hr");
                            var row = document.createElement("div");
                            row.classList.add('row');

                            var avatar = document.createElement("div");
                            avatar.classList.add('avatar');

                            var prof_img = document.createElement("img");
                            prof_img.classList.add('avatar', 'img-fluid');
                            prof_img.setAttribute("src", elements.USER.prof_img_url);

                            var name = document.createElement("div");
                            name.classList.add('mb-1');
                            name.innerHTML = elements.USER.NAME;

                            avatar.appendChild(prof_img);

                            row.appendChild(avatar);
                            row.appendChild(name);

                            var contents = document.createElement("pre");
                            contents.innerHTML = elements.CONTENT

                            var date = document.createElement("div");
                            date.classList.add('row', 'small', 'text-muted', 'justify-content-end');
                            date.innerHTML = elements.updatedAt.substr(0,10) +"  "+ elements.updatedAt.substr(11,8);
                            new_comment.appendChild(line);
                            new_comment.appendChild(row);
                            new_comment.appendChild(contents);
                            new_comment.appendChild(date);

                            comment.appendChild(new_comment);
                        })
                    }  
                });
            })
        }          
        
    // Main page content
    .container.mt-n10
        .row
            .col-xxl-12.col-xl-12.mb-6
                .card
                    .card-body
                        h5 진행상황
                        h4.small
                            | #{job.TITLE} :
                            span.float-right.font-weight-bold 
                            if job.NUM_TASKS == '0'
                                | 0%
                            else
                                | #{Math.round((job.NUM_DONE_TASKS*100)/job.NUM_TASKS)}%
                        .progress.mb-4
                            .progress-bar.bg-danger(role='progressbar', style='width: '+Math.round((job.NUM_DONE_TASKS*100)/job.NUM_TASKS)+'%', aria-valuenow=proj.NUM_DONE_TASKS/proj.NUM_TASKS, aria-valuemin='0', aria-valuemax='100')
        .row
            .col-xxl-12.col-xl-12.mb-6
                .card.card-scrollable
                    .card-header Post
                    .card-body
                        if posts.length != 0
                            each post in posts
                                a.card.card-icon.lift.lift-sm.mb-4(data-toggle="modal", href='#Post'+post.ID, onclick='getComments('+post.ID+')')
                                    .card-body
                                        .d-flex.align-items-center.justify-content-between
                                            .h5.card-title.mb-0 #{post.TITLE}
                                            i.flex-shrink-0.ml-4(data-feather='chevron-right')
                        else
                            p 등록된 Post가 없습니다.
                        
                    //- a.card-footer.small.text-muted(data-toggle='modal', data-target='#createActivity') 새로운 post 등록
                    a.btn.btn-light.btn-sm(type='button', data-toggle='modal', data-target='#createPost') 새로운 post 등록
 
        .row
            .col-xxl-12.col-xl-12.mb-6
                .card.card-header-actions.mb-4
                    .card-header
                        | task 목록
                        a.small.mb-1small.text-arrow-icon(href='/projects/'+pid+'/jobs/'+job.ID+'/task-create')
                            | 새로운 task 생성
                            i(data-feather='arrow-right')
                    .card-body
                        .datatable
                            table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
                                thead
                                    tr
                                        th 작성자
                                        th 제목
                                        th 기간
                                        th 최근 업데이트
                                        th 상태                                
                                tfoot
                                    tr
                                        th 작성자
                                        th 제목
                                        th 기간
                                        th 최근 업데이트
                                        th 상태
                                tbody
                                    if tasks.length != 0
                                        each task in tasks
                                            tr 
                                                td #{task.AUTHOR}
                                                td 
                                                    a(href='/projects/'+pid+'/jobs/'+job.ID+'/tasks/'+task.ID, title='#{task.TITLE}') #{task.TITLE}
                                                td #{task.START_DATE.getFullYear()}/#{task.START_DATE.getMonth()+1}/#{task.START_DATE.getDate()}  -  #{task.END_DATE.getFullYear()}/#{task.END_DATE.getMonth()+1}/#{task.END_DATE.getDate()}
                                                td #{task.updatedAt.getFullYear()}/#{task.updatedAt.getMonth()+1}/#{task.updatedAt.getDate()} #{task.updatedAt.getHours()}:#{task.updatedAt.getMinutes()}:#{task.updatedAt.getSeconds()}
                                                //- td status val?                                    
                                                if task.STATUS == 0    
                                                    td 진행 중
                                                else if task.STATUS == 1
                                                    td 완료                                              
                                    else
                                        tr
                                            p 아직 업무가 없습니다.                
    if posts.length != 0
        each post in posts
            .modal.fade(data-backdrop='static', id='Post'+post.ID, tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
                .modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalScrollableTitle.modal-title #{post.TITLE}
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') × 
                        .modal-header
                            pre 작성자 : #{post.AUTHOR}   |   작성일 : #{post.createdAt.getFullYear()}/#{post.createdAt.getMonth()+1}/#{post.createdAt.getDate()} #{post.createdAt.getHours()}:#{post.createdAt.getMinutes()}:#{post.createdAt.getSeconds()}   |   수정일 : #{post.updatedAt.getFullYear()}/#{post.updatedAt.getMonth()+1}/#{post.updatedAt.getDate()} #{post.updatedAt.getHours()}:#{post.updatedAt.getMinutes()}:#{post.updatedAt.getSeconds()}
                        .modal-body
                            pre #{post.CONTENT}
                            hr.mt-0.mb-4
                            |  첨부파일
                            br
                            if files.length != 0
                                each file in files
                                    if file.SRC_ID == post.ID
                                        a(href='/download/'+file.server_NAME) #{file.original_NAME}
                            else
                                div no files
                            hr
                            .row
                                textarea.form-control.col-10(id='comment_input'+post.ID, row=2, placeholder='댓글을 입력하세요')
                                button.btn.btn-primary.col-2(type='button', onclick='postComment('+post.ID+')') 등록
                            hr.mt-0.mb-4
                            br
                            .comments(id='comments'+post.ID)

                        .modal-footer
                            //- button.btn.btn-secondary(type='button') 수정
                            button.btn.btn-primary(type='button', data-dismiss='modal') 확인
    
    // create job post modal
    #createPost.modal.fade(role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-scrollable(role='document')
            .modal-content
                form(method="POST", action='/projects/'+pid+'/jobs/'+jid+'/posts', enctype="multipart/form-data")
                    .modal-header
                        h5#exampleModalScrollableTitle.modal-title Post 생성
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-lg-12
                                .form-group.col-md-12
                                    label(for='postTitle').small.mb-1 제목
                                    input#jobTitle.form-control(type='text', name='postTitle', placeholder='제목을 입력하세요')
                                .form-group.col-md-12
                                    label(for='postContent').small.mb-1 내용
                                    textarea#jobDesc.form-control(rows='8', type='textarea', name='postContent', placeholder='내용을 입력하세요')
                        .row
                            .form-group.col-md-12
                                label(for='postFiles').small.mb-1 파일첨부                            
                                input#postFile.form-control-file(type='file', name='postFiles' multiple)

                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') 생성하기

block footer

    include ../../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='/assets/demo/datatables.js')