//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = job.TITLE

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/headers/header-breadcrumb.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: job.DESCRIPTION,
        pageIcon: 'activity',
        breadcrumbs: true,
        pid: pid,
    })

        a.btn.btn-light.btn-sm.line-height-normal.p-3(href='/project/job/tcreate?pid='+pid+'&jid='+jid) 새로운 task 생성
    
    
        

    // Main page content
    .container.mt-n10
        .row
            .col-xxl-12.col-xl-8.mb-6
                .card
                    .card-body.d-flex.justify-content-center.flex-column
                        .d-flex.align-items-center.justify-content-between
                            .mr-3
                                i.feather-xl.text-green.mb-3(data-feather='layout')
                                h5 진행상황
                            .mr-3
                                h5 
        .row
            .col-xxl-12.col-xl-8.mb-6
                .card.card-scrollable
                    .card-header Post
                    .card-body
                        if posts.length != 0
                            each post in posts
                                a.card.card-icon.lift.lift-sm.mb-4(data-toggle="modal", href='#Post'+post.ID)
                                    .card-body
                                        .d-flex.align-items-center.justify-content-between
                                            .h5.card-title.mb-0 #{post.TITLE}
                                            i.flex-shrink-0.ml-4(data-feather='chevron-right')
                        else
                            p 등록된 Post가 없습니다.
                        
                    a.card-footer.small.text-muted(href='/project/job/job_post?pid='+pid+'&jid='+jid) post 추가하기 
        .row
            .col-xxl-12.col-xl-8.mb-6
                .card.mb-8
                    .card-header task 목록
                    .card-body
                        .datatable
                            table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
                                thead
                                    tr
                                        th 작성자
                                        th 제목
                                        th 기간
                                        th 최근 업데이트
                                        th 진행도                                
                                tfoot
                                    tr
                                        th 작성자
                                        th 제목
                                        th 기간
                                        th 최근 업데이트
                                        th 진행도
                                tbody
                                    if tasks.length != 0
                                        each task in tasks
                                            tr 
                                                td #{task.AUTHOR}
                                                td 
                                                    a(href='/project/job/task?pid='+pid+'&jid='+job.ID+'&tid='+task.ID, title='#{task.TITLE}') #{task.TITLE}
                                                td #{task.START_DATE.getFullYear()}/#{task.START_DATE.getMonth()}/#{task.START_DATE.getDate()}  -  #{task.END_DATE.getFullYear()}/#{task.END_DATE.getMonth()}/#{task.END_DATE.getDate()}
                                                td #{task.updatedAt.getFullYear()}/#{task.updatedAt.getMonth()}/#{task.updatedAt.getDate()} #{task.updatedAt.getHours()}:#{task.updatedAt.getMinutes()}:#{task.updatedAt.getSeconds()}
                                                td status val?                                    
                                                //- if job.NUM_TASKS == 0    
                                                //-     td 준비 단계
                                                //- else
                                                //-     td #{job.NUM_DONE_TASKS / job.NUM_TASKS}
                                    else
                                        tr
                                            p 아직 업무가 없습니다.                
    if posts.length != 0
        each post in posts
            .modal.fade(data-backdrop='static', id='Post'+post.ID, tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
                .modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalScrollableTitle.modal-title #{post.TITLE}
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') × 
                        .modal-header
                            pre 작성자 : #{post.AUTHOR}   |   작성일 : #{post.createdAt.getFullYear()}/#{post.createdAt.getMonth()}/#{post.createdAt.getDate()} #{post.createdAt.getHours()}:#{post.createdAt.getMinutes()}:#{post.createdAt.getSeconds()}   |   수정일 : #{post.updatedAt.getFullYear()}/#{post.updatedAt.getMonth()}/#{post.updatedAt.getDate()} #{post.updatedAt.getHours()}:#{post.updatedAt.getMinutes()}:#{post.updatedAt.getSeconds()}
                        .modal-body
                            hr.mt-0.mb-4
                            pre #{post.CONTENT}
                        .modal-footer
                            button.btn.btn-secondary(type='button') 수정
                            button.btn.btn-primary(type='button', data-dismiss='modal') 확인

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='/assets/demo/datatables.js')