//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = task.TITLE

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark',
        user: user.NAME,
        pid: pid
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../../mixins/headers/header-breadcrumb.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: '',
        pageIcon: 'activity',
        isTask: true,
        pid: pid,
        job: job
    })

        a.btn.btn-light.btn-sm.line-height-normal.p-3(href='/project/job/task/done?pid='+pid+'&jid='+jid+'&tid='+task.ID) 완료하기

    // Main page content
    .container.mt-n10
        .row
            .col-xxl-12.col-xl-8.mb-6
                .card.card-scrollable
                    .card-header Post
                    .card-body
                        if posts.length != 0
                            each post in posts
                                a.card.card-icon.lift.lift-sm.mb-4(data-toggle='modal', href='#Post'+post.ID)
                                    .card-body
                                        .d-flex.align-items-center.justify-content-between
                                            .h5.card-title.mb-0 #{post.TITLE}
                                            i.flex-shrink-0.ml-4(data-feather='chevron-right')
                        else
                            p 등록된 Post가 없습니다.
                    a.card-footer.small.text-muted(href='/project/job/task_post?pid='+pid+'&jid='+jid+'&tid='+task.ID) post 추가하기 
        .row
            .col-xxl-12.col-xl-8.mb-6
                .card.card-header-actions.h-100.card-scrollable
                    .card-header 
                        | activity 기록
                        button.btn.btn-light.btn-sm(type='button', data-toggle='modal', data-target='#createActivity') 새로운 activity 등록
                        //- .dropdown.no-caret
                        //-     button#dropdownMenuButton.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        //-         i.text-gray-500(data-feather='more-vertical')
                        //-     .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownMenuButton')
                        //-         h6.dropdown-header Filter Activity:
                        //-         a.dropdown-item(href='#!')
                        //-             span.badge.badge-green-soft.text-green.my-1 Commerce
                        //-         a.dropdown-item(href='#!')
                        //-             span.badge.badge-blue-soft.text-blue.my-1 Reporting
                        //-         a.dropdown-item(href='#!')
                        //-             span.badge.badge-yellow-soft.text-yellow.my-1 Server
                        //-         a.dropdown-item(href='#!')
                        //-             span.badge.badge-purple-soft.text-purple.my-1 Users
                    .card-body
                        .timeline
                            if acts.length != 0
                                each act in acts
                                    .timeline-item
                                        .timeline-item-marker
                                            .timeline-item-marker-text
                                                | #{act.updatedAt.getFullYear()}/#{act.updatedAt.getMonth()+1}/#{act.updatedAt.getDate()} 
                                                | #{act.updatedAt.getHours()}:#{act.updatedAt.getMinutes()}:#{act.updatedAt.getSeconds()}
                                            .timeline-item-marker-indicator.bg-primary-soft.text-primary
                                                i(data-feather='flag')
                                        .timeline-item-content.pt-0
                                            .card.shadow-sm
                                                a.card-body(data-toggle="modal", href='#Activity'+act.ID)
                                                    h5.text-primary #{act.TITLE}
                                                    //- if act.CONTENT.length > 30
                                                    //-     | #{act.CONTENT.substring(0,30)}...
                                                    //- else
                                                    //-     | #{act.CONTENT}...
                            else
                                p 등록된 활동이 없습니다.            

    // CREATE activity modal
    #createActivity.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-scrollable(role='document')
            .modal-content
                form(method="POST")
                    .modal-header
                        h5#exampleModalScrollableTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-lg-12
                                .form-group.col-md-12
                                    label(for='actTitle').small.mb-1 제목
                                    input#jobTitle.form-control(type='text', name='title', placeholder='업무명을 입력하세요')
                                .form-group.col-md-12
                                    label(for='actDetail').small.mb-1 내용
                                    textarea#jobDesc.form-control(rows='8', type='textarea', name='contents', placeholder='내용을 입력하세요')
                        .row
                            .form-group.col-md-12
                                label(for='postFile').small.mb-1 파일첨부                            
                                input#postFile.form-control-file(type='file', name='noticeFiles' enctype="multipart/form-data")

                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') 생성하기

    // Activity Read modal
    if acts.length != 0
        each act in acts
            .modal.fade(data-backdrop='static', id='Activity'+act.ID, tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
                .modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalScrollableTitle.modal-title #{act.TITLE}
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-header
                            pre 작성자 : #{act.AUTHOR}   |   작성일 : #{act.createdAt.getFullYear()}/#{act.createdAt.getMonth()+1}/#{act.createdAt.getDate()} #{act.createdAt.getHours()}:#{act.createdAt.getMinutes()}:#{act.createdAt.getSeconds()}   |   수정일 : #{act.updatedAt.getFullYear()}/#{act.updatedAt.getMonth()+1}/#{act.updatedAt.getDate()} #{act.updatedAt.getHours()}:#{act.updatedAt.getMinutes()}:#{act.updatedAt.getSeconds()}
                        .modal-body
                            pre #{act.CONTENTS}
                        .modal-footer
                            //- button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(type='button', data-dismiss='modal') 확인
    // post_task modal create
    if posts.length != 0
        each post in posts
            .modal.fade(data-backdrop='static', id='Post'+post.ID, tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
                .modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalScrollableTitle.modal-title #{post.TITLE}
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-header
                            pre 작성자 : #{post.AUTHOR}   |   작성일 : #{post.createdAt.getFullYear()}/#{post.createdAt.getMonth()+1}/#{post.createdAt.getDate()} #{post.createdAt.getHours()}:#{post.createdAt.getMinutes()}:#{post.createdAt.getSeconds()}   |   수정일 : #{post.updatedAt.getFullYear()}/#{post.updatedAt.getMonth()+1}/#{post.updatedAt.getDate()} #{post.updatedAt.getHours()}:#{post.updatedAt.getMinutes()}:#{post.updatedAt.getSeconds()}
                        .modal-body
                            pre #{post.CONTENT}
                        .modal-footer
                            //- button.btn.btn-secondary(type='button') 수정하기
                            button.btn.btn-primary(type='button', data-dismiss='modal') 확인   
//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='/assets/demo/datatables-demo.js')
