mixin header(options)

    header.page-header(class=options.pageHeaderStyle + ' ' + options.pageHeaderBg + ' ' + options.pageHeaderSpacing)

        div(class=options.pageHeaderContainer)

            .page-header-content.pt-4

                .row.align-items-center.justify-content-between

                    .col-auto.mt-4

                        h1.page-header-title

                            if options.pageIcon
                                .page-header-icon
                                    i(data-feather=options.pageIcon)
                            else
                            | #{pageTitle}

                        if options.pageSubtitle
                            .page-header-subtitle
                                | #{options.pageSubtitle}
                        else

                    if block
                        .col-12.col-xl-auto.mt-4
                            block
                    else

                ol.breadcrumb.mb-0.mt-4
                    li.breadcrumb-item
                        a(href='/project/jobs?pid='+pid) 업무조회
                    if options.isTask
                        li.breadcrumb-item
                            a(href='/project/job?pid='+pid+'&jid='+job.ID) #{job.TITLE}
                        li.breadcrumb-item.active #{pageTitle}                        
                    else
                        li.breadcrumb-item.active #{pageTitle}
