//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = 'Account Settings - Profile'

//- Add CSS for third party plugins used on this page
append css
    //- Load Date Range Picker via CDN
    link(href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav
    include ../mixins/sidenav.pug
    +sidenav({
        sidenavStyle: 'sidenav-light',
        user: user.NAME
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-compact.pug
    +header({
        pageHeaderStyle: 'page-header-light border-bottom',
        pageHeaderBg: 'bg-white',
        pageHeaderSpacing: 'mb-4',
        pageHeaderContainer: 'container-fluid',
        pageIcon: 'user'
    })

    // Main page content
    .container.mt-4
        form(method='post', enctype="multipart/form-data")
            hr.mt-0.mb-4
            .row
                .col-xl-4
                    // Profile picture card
                    .card
                        .card-header Profile Picture
                        .card-body.text-center
                            // Profile picture image
                            img.img-account-profile.rounded-circle.mb-2(src=user.prof_img_url, alt='no image')
                            // Profile picture help block
                            .small.font-italic.text-muted.mb-4 JPG or PNG no larger than 5 MB
                            // Profile picture upload button
                            .form-group
                                label.btn.btn-primary Upload new image
                                    input.form-control-file(type='file', name='profileImage', style="width:100%;display:none")                         
                .col-xl-8
                    // Account details card
                    .card.mb-4
                        .card-header Account Details
                        .card-body
                            // Form Row
                            .form-row
                                // Form Group (first name)
                                .form-group.col-md-6
                                    label.small.mb-1(for='inputFirstName') 이름
                                    input#inputFirstName.form-control(type='text', value=user.NAME, name='name')
                                
                            // Form Row        
                            .form-row
                                // Form Group (organization name)
                                .form-group.col-md-6
                                    label.small.mb-1(for='inputOrgName') 소속
                                    input#inputOrgName.form-control(type='text', value=user.COMPANY, name='company')
                                // Form Group (location)
                                .form-group.col-md-6
                                    label.small.mb-1(for='inputPosition') 직책
                                    input#inputPosition.form-control(type='text', value=user.POSITION, name='position')
                            // Form Group (email address)
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') 이메일 주소
                                input#inputEmailAddress.form-control(type='email', value=user.EMAIL, name='email', readonly)
                            // Form Row
                            .form-row
                                // Form Group (phone number)
                                .form-group.col-md-6
                                    label.small.mb-1(for='inputPhone') 휴대폰 번호
                                    input#inputPhone.form-control(type='text', value=user.PHONENUMBER, name='phonenumber')
                                .form-group.col-md-6
                                    label.small.mb-1(for='inputComPhone') 사내 번호
                                    input#inputComPhone.form-control(type='text', value=user.COMPANYNUMBER, name='companynumber')
                            // Save changes button
                            button.btn.btn-primary(type='submit') 수정사항 저장하기

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer
    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

//- Add JS for third party plugins used on this page
append scripts
